:root{
    font-size: 10px;
    font-family: 'Bagel Fat One', cursive;
}
*{
    padding: 0;
    margin: 0;
}
body{
    padding: 0;
    margin: 0;
    background: #1E3640;
}
.header{
    padding: 2em;
    background: orange;
    border-bottom: 4px solid black;
}
.title{
    text-align: center;
    font-size: 5em;
    font-family: 'Chokokutai', cursive;
}
.mainContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
}
.message{
    font-size: 5em;
    color: white;
}
.gameBoard{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1.5em;
}
.field{
    width: 8em;
    height: 8em;
    border: 1px solid black;
    border-radius: 2em;
    background-color: white;
    cursor: pointer;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.5);
    transition: 500ms;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-family: 'Cherry Bomb One', cursive;
}
.field:hover{
    transform: scale(1.05);
}
@media(max-width: 600px){
    .field{
        width: 10em;
        height: 10em;
    }
}