:root{
    font-size: 10px;
    font-family: 'Bagel Fat One', cursive;
}
*{
    padding: 0;
    margin: 0;
}
body{
    padding: 0;
    margin: 0;
    background: #03212d;
}
.header{
    padding: 1.5em;
    background: black;
    color: white;
    border-bottom: 6px solid #2dff00;
}
.title{
    text-align: center;
    font-size: 7em;
    transition: 500ms;
    font-family: 'Shrikhand', cursive;
}
.mainContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
}
.message{
    font-size: 5em;
    color: white;
}
.gameBoard{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1.5em;
}
.field{
    width: 14rem;
    height: 14rem;
    border: 2px solid #03212d;
    border-radius: 2rem;
    background-color: black;
    color: #08c6e7;
    cursor: pointer;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.5);
    transition: 500ms;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8rem;
    font-family: 'Carter One', cursive;
}
.field:hover{
    transform: scale(1.05);
}
@media(max-width: 600px){
    .title{
        font-size: 5em;
    }
    .field{
        width: 8rem;
        height: 8rem;
        font-size: 5rem;
    }
}